<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ site.baseurl }}/#">Learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% if page.url == '/devops.html' %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/devops.html">DevOps</a>
      </li>
      <li class="nav-item {% if page.url == '/webdesign.html' %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/webdesign.html">Web Design</a>
      </li>
      <li class="nav-item {% if page.url == '/loopback.html' %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/loopback.html">Loopback</a>
      </li>
      <li class="nav-item {% if page.url == '/react.html' %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/react.html">React</a>
      </li>
    </ul>
  </div>
</nav>
